<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="false" />
    <arg name="mesh_path"           value="$(find jaco2_surface_model)/jaco2_surface_meshes/"/>
    <arg name="joint_state_topic"   value="/estimated_ext_torque"/>
    <arg name="minimum_sample_size" value="100"/>
    <arg name="maximum_sample_size" value="5000"/>

    <group ns="muse_armcl">
        <!-- toplevel parameters -->
        <param name="map"             value="mesh_map" />
        <param name="topic_particles" value="particles"/>
        <param name="topic_contacts"  value="contacts"/>
        <param name="node_rate"       value="0.0" />

        <!-- data providers -->
        <group ns="joint_states">
            <param name="class"      value="muse_armcl::JointStateProvider" />
            <param name="base_class" value="cslibs_plugins_data::DataProvider" />
            <param name="topic"      value="$(arg joint_state_topic)" />
            <param name="queue_size" value="10" />
            <param name="rate"       value="0.0" />
        </group>

        <!-- map providers -->
        <group ns="mesh_map">
            <param name="class"      value="muse_armcl::MeshMapLoader" />
            <param name="base_class" value="muse_armcl::MeshMapProvider" />
            <param name="path"       value="$(arg mesh_path)" />
            <rosparam param="meshes">
                ["jaco2_link_2.obj", 
                 "jaco2_link_3.obj", 
                 "jaco2_link_4_5.obj", 
                 "jaco2_link_4_5.obj", 
                 "jaco2_link_hand.obj", 
                 "jaco2_link_finger.obj", 
                 "jaco2_link_finger.obj", 
                 "jaco2_link_finger.obj"]
            </rosparam>
            <rosparam param="frame_ids">
                ["jaco_link_2", 
                 "jaco_link_3", 
                 "jaco_link_4", 
                 "jaco_link_5", 
                 "jaco_link_hand", 
                 "jaco_link_finger_1", 
                 "jaco_link_finger_2", 
                 "jaco_link_finger_3"]
            </rosparam>
            <rosparam param="parent_ids">
                ["jaco_link_2", 
                 "jaco_link_2", 
                 "jaco_link_3", 
                 "jaco_link_4", 
                 "jaco_link_5", 
                 "jaco_link_hand", 
                 "jaco_link_hand", 
                 "jaco_link_hand"]
            </rosparam>
        </group>

        <!-- prediction model -->
        <group ns="prediction">
            <param name="class"            value="muse_armcl::RandomWalk" />
            <param name="base_class"       value="muse_armcl::PredictionModel"/>
            <param name="data_provider"    value="joint_states" />
            <param name="seed"             value="0" />
            <param name="min_distance"     value="0.0" />
            <param name="max_distance"     value="0.1" />
            <param name="jump_probability" value="0.5" />
        </group>

        <!-- update model -->
        <group ns="update">
            <param name="class"             value="muse_armcl::NormalizedUpdateModel" />
            <param name="base_class"        value="muse_armcl::UpdateModel" />
            <param name="data_provider"     value="joint_states" />
            <param name="map_provider"      value="mesh_map" />
            <param name="robot_description" value="robot_description"/>
            <param name="chain_root"        value="jaco_link_base"/>
            <param name="chain_tip"         value="jaco_link_hand"/>
            <param name="finger_1_tip"      value="jaco_link_finger_tip_1"/>
            <param name="finger_2_tip"      value="jaco_link_finger_tip_2"/>
            <param name="finger_3_tip"      value="jaco_link_finger_tip_3"/>
            <!-- information matrix of "update likelyhood": insert values column wise.
                  Matrix of dim. (#(joints) x #(joints)) if viewer valeues are provided only diagonal is set
                  and filled by last provided value-->
            <rosparam param="information_matrix">
                [0.5, 0.5, 0.5, 0.5, 0.5 ,0.5]
            </rosparam>
        </group>

        <!-- sampling algorithms -->
        <group ns="uniform_sampler">
            <param name="class"       value="muse_armcl::UniformAllLinks" />
            <param name="base_class"  value="muse_armcl::UniformSampling" />
            <param name="seed"        value="1" />
            <param name="timeout"     value="10.0" />
            <param name="tf_timeout"  value="0.1" />
            <param name="sample_size" value="$(arg maximum_sample_size)" />
        </group>
        <group ns="normal_sampler">
            <param name="class"       value="muse_armcl::Normal" />
            <param name="base_class"  value="muse_armcl::NormalSampling" />
            <param name="timeout"     value="10.0" />
            <param name="tf_timeout"  value="0.1" />
            <param name="sample_size" value="$(arg maximum_sample_size)" />
            <param name="seed"        value="2" />
            <param name="jump_probability"     value="0.5" />
            <param name="likelihood_tolerance" value="0.1" />
        </group>
        <group ns="resampling">
            <param name="class"               value="muse_armcl::WheelOfFortune" />
            <param name="base_class"          value="muse_armcl::Resampling" />
            <param name="recovery_alpha_slow" value="0.0"/>
            <param name="recovery_alpha_fast" value="0.0"/>
        </group>

        <!-- density estimation -->
        <group ns="density">
            <param name="class"               value="muse_armcl::Dominants" />
            <param name="base_class"          value="muse_armcl::SampleDensity" />
            <param name="maximum_sample_size" value="$(arg maximum_sample_size)" />
            <param name="resolution"          value="0.1" />
            <param name="weight_threshold"    value="0.1"/>
        </group>

        <!-- scheduling -->
        <group ns="scheduler">
            <param name="class"      value="muse_armcl::CFS" />
            <param name="base_class" value="muse_armcl::Scheduler" />
            <param name="rate"       value="15.0" />
        </group>

        <!-- particle filter setup -->
        <group ns="particle_filter">
            <param name="world_frame"         value="/world"/>

            <param name="minimum_sample_size" value="$(arg minimum_sample_size)" />
            <param name="maximum_sample_size" value="$(arg maximum_sample_size)"/>

            <param name="reset_weights_after_insertion" value="true"  />
            <param name="reset_weights_to_one"          value="false" />
            <param name="enable_lag_correction"         value="false" />
        </group>
    </group>

    <!-- MuSe ARMCL node -->
    <node type="muse_armcl_node" 
          name="muse_armcl" 
          pkg="muse_armcl" 
          output="screen"  
          clear_params="true"/>
</launch>
