<?xml version="1.0" ?>
<launch>
    <arg name="mesh_path" value="$(find jaco2_surface_model)/jaco2_surface_meshes/"/>

    <group ns="muse_armcl">
        <!-- update models -->

        <!-- prediction model -->

        <!-- map providers -->
        <group ns="mesh_map">
            <param name="class"      value="muse_armcl::MeshMapLoader" />
            <param name="base_class" value="muse_armcl::MeshMapProvider" />
            <param name="path"       value="$(arg mesh_path)" />
        </group>

        <!-- data providers -->

        <!-- sampling algorithms -->
        <group ns="uniform_sampler">
            <param name="class"       value="muse_armcl::UniformAllMaps" />
            <param name="base_class"  value="muse_armcl::UniformSampling" />
	    <param name="map"         value="mesh_map" />
            <param name="seed"        value="2" />
            <param name="timeout"     value="10.0" />
            <param name="tf_timeout"  value="0.1" />
            <param name="sample_size" value="5000" />
        </group>

        <group ns="normal_sampler">
            <param name="class"       value="muse_armcl::Normal" />
            <param name="base_class"  value="muse_armcl::NormalSampling" />
	    <param name="map"         value="mesh_map" />
            <param name="timeout"     value="10.0" />
            <param name="tf_timeout"  value="0.1" />
            <param name="sample_size" value="5000" />
            <param name="seed"        value="0" />
            <param name="jump_probability"     value="0.3" />
            <param name="likelihood_tolerance" value="0.1" />
        </group>

        <group ns="resampling">
            <param name="class"               value="muse_armcl::KLD" />
            <param name="base_class"          value="muse_armcl::Resampling" />
            <param name="recovery_alpha_slow" value="0.0"/>
            <param name="recovery_alpha_fast" value="0.0"/>
        </group>

        <!-- density estimation -->
        <group ns="density">
        </group>

        <!-- scheduling -->
        <group ns="scheduler">
            <param name="class"      value="muse_armcl::Dummy" />
            <param name="base_class" value="muse_armcl::Scheduler" />
        </group>

        <!-- particle filter setup -->
        <group ns="particle_filter">
            <param name="world_frame"                   value="/world"/>
            <param name="reset_weights_after_insertion" value="true"  />
            <param name="reset_weights_to_one"          value="false" />
            <param name="enable_lag_correction"         value="false" />

            <!--<param name="sample_size" value=""/>-->       <!-- if set, maximum and minimum are this value -->
            <param name="minimum_sample_size" value="100" />  <!-- if not sample_size is already set -->
            <param name="maximum_sample_size" value="5000"/>  <!-- if not sample_size is already set -->
        </group>
    </group>

    <!-- MuSe ARMCL node -->
    <node type="muse_armcl_node" name="muse_armcl" pkg="muse_armcl" output="screen" clear_params="true" />
</launch>
